# Env
NODE_ENV = Complete with de nodejs environment

# Port
PORT = Complete with port

#Log
LOG_LEVEL = Complete with the log level

#batabase
DATABASE_URL = Complete with de mongodb connection url

#auth
AUTH_SECRET = Complete with the private key for JWT
AUTH_TTL = Complete with the time to live for JWT